.DS_Store
.env
.env.local
node_modules/
build/
dist/
.next/
.flutter-plugins
.dart_tool/
*.log
.vscode/settings.json
.idea/
*.swp
*.swo
*~
.env.*.local
.build/
.github/workflows/test.yml
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/
.tmp/
temp/
